body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #E97B7B;
    padding: 0;
}

nav {
    background-color: #FF9075;
    display: flex;
    justify-content: space-around;
}
.nav-link:nth-child(1)::after {
    content: url(https://learn.logikaschool.com/uploads/student/4934932/67e020792b019.png);
}
.nav-link:nth-child(2)::after {
    content: url(https://learn.logikaschool.com/uploads/student/4934932/67e02130928c9.png);
}
.nav-link:nth-child(3)::after {
    content: '';
    background-image: url(https://learn.logikaschool.com/uploads/student/4934932/67e114c93cb62.png);
    background-size: contain;
    width: 81px;
    height: 81px;
}
main {
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 32px;
}
.nav-link:hover {
    color: whitesmoke;
    font-size: 36px;
}

h1 {
    position: relative;
    top: 10px;
    font-size: 96px;
    z-index: 100;
}
header img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 10px;
    top: 40px;
    z-index: 0;
}
p {
    font-size: 20px;
}
.entities {
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}
.entities-extra {
    margin-bottom: 160px;
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.entity, .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entity-title {
    font-size: 64px;
}
.entity-info {
    width: 506px;
}
.badges, .badges-extra-container {
    display: flex; 
    justify-content: center;
    gap: 95px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.badge {
    width: 150px;
    height: 150px;
}
.badge:hover {
    font-size: 24px;
}
.badge-link {
    color: black;
    text-decoration: underline;
}
.badges-extra {
    margin-bottom: 80px;
}
.badges-extra-title {
    font-size: 64px;
    text-align: center;
}
.modifiers-title {
    font-size: 96px;
    text-align: center;
}
modifiers-container {
    display: flex;
    justify-content: space-around;
}
ul {
    list-style: none;
}
li {
    margin-bottom: 22px;
}

footer {
    padding: 5px 40vw;
    position: fixed;
    bottom: 0;
   background-color: grey;
   display: flex;
   justify-content: center;
}

.footer-link {
    background-color: #FF836A;
    border-radius: 100px;
    font-size: 24px;
    padding: 20px 71px;
    text-align: center;
    transition: 0.5s;
}
.footer-link:hover {
    color: white;
    padding: 10px 142px;
}
